@import '../../../styles/scss/mixin.scss';

.articles {
    margin: 50px;

    h1 {
        text-align: center;
        margin-bottom: 50px;
    }
    
    .article {
        background: var(--black);
        border-radius: 20px;
        border: 1px solid var(--border);
        @include single-prefix(transition, transform 100ms ease-in-out);
    
        &:hover {
            @include single-prefix(transform, scale(1.125));
            box-shadow: 0 0 10px var(--black);
            z-index: 9000;
            position: relative;
            cursor: pointer;
        }
    
        img {
            width: 100%;
            &.default-height {
                height: 195px;
            }
        }
    
        &__description {
            color: var(--white);
            padding: 10px;
            text-align: center;
        }

        &__title {
            padding: 10px;
            border-top-left-radius: 18px;
            border-top-right-radius: 18px;
            background: var(--white);
            h3 {
                margin-bottom: 0;
                a {
                    text-decoration: none;
                    color: var(--primary);
                    position: relative;
                    display: inline-block;
                    overflow: hidden;
                    background: linear-gradient(to right, var(--secondary), var(--secondary) 50%, var(--primary) 50%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-size: 200% 100%;
                    background-position: 100%;
                    transition: background-position 275ms ease;
    
                    &:hover {
                        background-position: 0 100%;
                    }
                }
            }

            i {
                margin-top: 0;
                font-size: 12px;
            }
        }
    
        &.hide-img {
            .article__image {
                height: 200px;
                background-position: center;
                background-repeat: no-repeat;
                img {
                    display: none;
                }
            }
        }

        &.highlight {
            box-shadow: 0 0 10px red;
        }
    }
}
