.articles {
    margin: 50px;
    
    .article {
        background: #000;
        border-radius: 20px;
        border: 1px solid rgb(222, 222, 222);
        transition: transform 100ms ease-in-out;
    
        &:hover {
            transform: scale(1.125);
            z-index: 9000;
            position: relative;
            cursor: pointer;
        }
    
        &__image {
            &.no-content {
                overflow: hidden;
                border-bottom-left-radius: 18px;
                border-bottom-right-radius: 18px;
            }
        }

        img {
            width: 100%;
        }
    
        &__title, &__description {
            color: #fff;
            padding: 10px;
        }
    
        &__title {
            border-top-left-radius: 18px;
            border-top-right-radius: 18px;
            background: #fff;
            color: #2e89ff;
        }
    
        &.hide-img {
            .article__image {
                height: 200px;
                background-position: center;
                background-repeat: no-repeat;
                img {
                    display: none;
                }
            }
        }
    }
}
