@import '../../../styles/scss/mixin.scss';

.base-loading {
    &.load-more {
       text-align: center;
       margin-top: 25px;

       img {
           position: static;
           width: 30px;
       } 
    }

    img {
        width: 250px;
        @include position-absolute(50%, n, n, 50%);
        @include single-prefix(transform, translate(-50%, -50%));
    }
}